#     2014 2015 estimated Government Project finance allocations to National Government Ministries

In this project will will be using pandas to load and clean the data , however we will analyse using SQL.

In [1]:
import pandas as pd
import numpy as np

##   Loading the data

In [ ]:
df = pd.read_csv('2014_2015_estimated_Government_Project_finance_allocations_to_National_Government_Ministries.csv')

In [ ]:
df

                                          NG_Ministry  ...  OBJECTID
0    Ministry of Industialization and Enterprise D...  ...         0
1                                Ministry of Defence   ...         1
2                       State Department of Transport  ...         2
3                        State Department of planning  ...         3
4                 Ministry of Sports Culture and Arts  ...         4
5                      State Department for Fisheries  ...         5
6                               The National Treasury  ...         6
7    State Department for Environment  and Natural...  ...         7
8                       State Department for Interior  ...         8
9                         Ministry of Foreign Affairs  ...         9
10                 State Department of Infrastructure  ...        10
11   Office of The Attorney General and Department...  ...        11
12                     State Department for Livestock  ...        12
13          State Department for East African Affairs  ...        13
14                                 Ministry of Health  ...        14
15                   State Department for Agriculture  ...        15
16     Ministry of Land Housing and Urban Development  ...        16
17                    State Department for Devolution  ...        17
18   State Department for Water and Regional Autho...  ...        18
19    Independent Electoral and Boundaries Commission  ...        19
20                     State Department for Education  ...        20
21                     Ministry of Energy & Petroleum  ...        21
22   Ministry of Information and Communications an...  ...        22
23    Ministry of Labour Social Security and Services  ...        23

[24 rows x 7 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 7 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   NG_Ministry                            24 non-null     object
 1   Total_-_GOK_Budget_Est_KES             24 non-null     int64
 2   Total_-_Loan_Budget_Est_KES            24 non-null     int64
 3   Total_-_Grant_Budget_Est_KES           24 non-null     int64
 4   Total_Budget_Supported__by_Donors_KES  24 non-null     int64
 5   Total_Project_Cost_KES                 24 non-null     int64
 6   OBJECTID                               24 non-null     int64
dtypes: int64(6), object(1)
memory usage: 1.4+ KB

In [ ]:
df.describe()

       Total_-_GOK_Budget_Est_KES  ...   OBJECTID
count                2.400000e+01  ...  24.000000
mean                 3.656406e+09  ...  11.500000
std                  7.747096e+09  ...   7.071068
min                  0.000000e+00  ...   0.000000
25%                  4.609120e+06  ...   5.750000
50%                  3.717874e+08  ...  11.500000
75%                  1.929783e+09  ...  17.250000
max                  3.259542e+10  ...  23.000000

[8 rows x 6 columns]

In [ ]:
df.isnull()

    NG_Ministry  Total_-_GOK_Budget_Est_KES  ...  Total_Project_Cost_KES  OBJECTID
0         False                       False  ...                   False     False
1         False                       False  ...                   False     False
2         False                       False  ...                   False     False
3         False                       False  ...                   False     False
4         False                       False  ...                   False     False
5         False                       False  ...                   False     False
6         False                       False  ...                   False     False
7         False                       False  ...                   False     False
8         False                       False  ...                   False     False
9         False                       False  ...                   False     False
10        False                       False  ...                   False     False
11        False                       False  ...                   False     False
12        False                       False  ...                   False     False
13        False                       False  ...                   False     False
14        False                       False  ...                   False     False
15        False                       False  ...                   False     False
16        False                       False  ...                   False     False
17        False                       False  ...                   False     False
18        False                       False  ...                   False     False
19        False                       False  ...                   False     False
20        False                       False  ...                   False     False
21        False                       False  ...                   False     False
22        False                       False  ...                   False     False
23        False                       False  ...                   False     False

[24 rows x 7 columns]

## Data Cleaning

In [ ]:
df.rename(columns={'NG_Ministry':'Ministry'},inplace=True)
df.rename(columns={'Total_-_GOK_Budget_Est_KES':'Total_Budget_Estimate'},inplace=True)
df.rename(columns={'Total_-_Loan_Budget_Est_KES':'Total_Loan_Budget'},inplace=True)
df.rename(columns={'Total_-_Grant_Budget_Est_KES':'Total_Grant_Budget'},inplace=True)

In [ ]:
df['Ministry']=df['Ministry'].str.lower()

In [ ]:
df = df.drop_duplicates()

In [ ]:
df

                                             Ministry  ...  OBJECTID
0    ministry of industialization and enterprise d...  ...         0
1                                ministry of defence   ...         1
2                       state department of transport  ...         2
3                        state department of planning  ...         3
4                 ministry of sports culture and arts  ...         4
5                      state department for fisheries  ...         5
6                               the national treasury  ...         6
7    state department for environment  and natural...  ...         7
8                       state department for interior  ...         8
9                         ministry of foreign affairs  ...         9
10                 state department of infrastructure  ...        10
11   office of the attorney general and department...  ...        11
12                     state department for livestock  ...        12
13          state department for east african affairs  ...        13
14                                 ministry of health  ...        14
15                   state department for agriculture  ...        15
16     ministry of land housing and urban development  ...        16
17                    state department for devolution  ...        17
18   state department for water and regional autho...  ...        18
19    independent electoral and boundaries commission  ...        19
20                     state department for education  ...        20
21                     ministry of energy & petroleum  ...        21
22   ministry of information and communications an...  ...        22
23    ministry of labour social security and services  ...        23

[24 rows x 7 columns]

In [ ]:
Finance.dtypes

Ministry                                 object
 Total_Budget_Estimate                    int64
Total_Loan_Budget                         int64
Total_Grant_Budget                        int64
Total_Budget_Supported__by_Donors_KES     int64
Total_Project_Cost_KES                    int64
OBJECTID                                  int64
dtype: object

In [ ]:
df.to_csv('2014_2015_estimated_Government_Project_finance_allocations_to_National_Government_Ministries.csv')

##  Analysis of the data

In [2]:
f ='2014_2015_estimated_Government_Project_finance_allocations_to_National_Government_Ministries (2).csv'
Finance = pd.read_csv(f,index_col=0,encoding='utf-8')

How many ministries are there

In [3]:
Finance['Ministry'].count()

24

Which ministry had the most funding

In [4]:
Finance[' Total_Budget_Estimate'].max()
Finance[Finance[' Total_Budget_Estimate']==32595417593]

                               Ministry  ...  OBJECTID
10   state department of infrastructure  ...        10

[1 rows x 7 columns]

WHich three ministries have the least funding

In [5]:
Finance.sort_values(by=[' Total_Budget_Estimate'],ascending=True).head(3)

                                             Ministry  ...  OBJECTID
0    ministry of industialization and enterprise d...  ...         0
19    independent electoral and boundaries commission  ...        19
13          state department for east african affairs  ...        13

[3 rows x 7 columns]

Which mode of funding contains the most monetary value 

1.   List item
2.   List item

In [6]:
Total = Finance.apply(lambda x: x.sum())
print(Total)
#By observation the money donated by donors contains the most monetary value

Ministry                                  ministry of industialization and enterprise d...
 Total_Budget_Estimate                                                         87753743927
Total_Loan_Budget                                                             374828343219
Total_Grant_Budget                                                            111348673071
Total_Budget_Supported__by_Donors_KES                                         486176671965
Total_Project_Cost_KES                                                     228201408923978
OBJECTID                                                                               276
dtype: object

Which mode of funding is used the least

In [7]:
Finance.apply(lambda x: x.min())

Ministry                                  independent electoral and boundaries commission
 Total_Budget_Estimate                                                                  0
Total_Loan_Budget                                                                       0
Total_Grant_Budget                                                                      0
Total_Budget_Supported__by_Donors_KES                                                   0
Total_Project_Cost_KES                                                             350000
OBJECTID                                                                                0
dtype: object

What is the most money they give each ministry

In [8]:
Finance.apply(lambda x: x.max())

Ministry                                 state department for interior
 Total_Budget_Estimate                                     32595417593
Total_Loan_Budget                                          99460344325
Total_Grant_Budget                                         53725271337
Total_Budget_Supported__by_Donors_KES                     100660000000
Total_Project_Cost_KES                                 224811000000000
OBJECTID                                                            23
dtype: object

Which ministry is mostly funded by donors

In [ ]:
Finance['Total_Budget_Supported__by_Donors_KES'].max()
Finance['Ministry'][Finance['Total_Budget_Supported__by_Donors_KES']==100660000000]

21     ministry of energy & petroleum
Name: Ministry, dtype: object

Which ministry is mostly funded by Grants

In [16]:
Finance['Total_Grant_Budget'].max()
Finance['Ministry'][Finance['Total_Grant_Budget']== 53725271337]

14     ministry of health
Name: Ministry, dtype: object

Which ministry is mostly funded by the loan

In [18]:
Finance['Total_Loan_Budget'].max()
Finance['Ministry'][Finance['Total_Loan_Budget']==99460344325]

21     ministry of energy & petroleum
Name: Ministry, dtype: object

Did the governemnt go under the budget or over the budget

In [14]:
Max2 = Finance[' Total_Budget_Estimate'].sum()
Max3 = Finance['Total_Project_Cost_KES'].sum()
if Max2 > Max3:
  SUM = Max3 - Max2
  print('They spent less than the budget predicted by')
elif Max2 < Max3:
  SUM = Max3 - Max2
  print('They spent over the predictions of the budget by')
  print(SUM)
else:
  print('They spent as the budget required them to')

They spent over the predictions of the budget by
228113655180051

Which ministiries went over budget

In [27]:
Finance[Finance['Ministry']==' ministry of energy & petroleum']

                           Ministry  ...  OBJECTID
21   ministry of energy & petroleum  ...        21

[1 rows x 7 columns]

In [38]:
def over(x):
  for x in Finance: 
    if ' Total_Budget_Estimate' > 'Total_Project_Cost_KES':
      return x
    else: 
      break
list(map(over,Finance))

[None, None, None, None, None, None, None]